*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
    padding: 0;
  background-image: url('https://static.vecteezy.com/system/resources/previews/020/022/906/original/abstract-white-and-gray-gradient-background-illustration-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

/*edicion de tabla boostrap "tamaño y colores"*/
.tabla-papa {
  display: flex;
  justify-content: center;
  text-align: center;
  
}


.table {
 max-width: 650px;
}
#borde-tabla{
  margin: 50px;
  border: 5px solid rgb(31, 99, 24);

}

p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-size: 18px;
}

h1, h2
{
    color: rgb(31, 99, 24);
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
h3{
  font-size: 1.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

/*barra de navegacion*/
.nav-item a{
  font-size: 1.5rem;
 
}
.colora {
  color: rgb(235, 239, 243) !important;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  text-decoration: none;
}

nav {
  background-color: rgb(31, 99, 24);

}
nav  img{
  margin-top: 2rem;
  width: 100px;

  margin: 1rem 2rem 0 0;
}

nav li{
  font-size: 1.5rem;
  padding: 3rem;
 
}
nav ul{
  margin: 20px;
  margin-right: 2rem;
}

a{
  color: rgb(235, 239, 243);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  text-decoration: none;
}
/*carousel del index*/
.galeria{
  margin-top: 2rem;
}
.carousel-item{
  text-align: center;
  word-wrap: break-word;
  
}
.carousel-item h3{
  margin-top: 1rem;
  word-wrap: break-word;
}

/* toda la parte de las card de #jugadores*/
.manue{
  display: flex;
justify-content:space-around;
margin: 10px;
gap: 2rem;
margin-top: 2rem;
}
.manu{
  display: flex;
justify-content: center;
margin: 10px;
gap: 2rem;
margin-top: 2rem;
}
.card {
  border-radius: 10px;
  text-align: center;
  box-shadow: 10px 4px 8px rgb(131, 131, 131);
}

/* para que los textos no queden pegaados al contenido*/
.txtjugador{
  margin-top: 2rem;
  text-align: center;
}


/* footer y sus variantes */

footer{
  background-color: rgb(31, 99, 24);
  width: 100%;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-links{
  grid-area: footer-links;
}
.footer-sponsors{
  grid-area:footer-sponsors;
}
.footer-sponsors img {
  width: 90px;
  margin-top: 1rem;
  margin-right: 10px;
}

.footer-social{
text-align: center;
grid-area: footer-social;
}
.footer-social img {
  width: 55px;
  margin-top: 1rem;
  margin-right: 15px;
  margin: 10px;

}
.footer-info{
  grid-area: footer-info;
}


footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 

}
.footer-copyright {
  text-align: center;
  margin-top: 20px;
grid-area: footer-copyright;
 
}

/*nombre de cada card de jugadores para el responsive*/
.chu{
  grid-area: chu;
}
.lucas{
  grid-area: lucas;
}
.nel{
  grid-area: nel;
}
.fede{
  grid-area: fede;
}
.juli{
  grid-area: juli;
}
.kevo{
  grid-area: kevo;
}
.dan{
  grid-area: dan;
}
.tin{
  grid-area: tin;
}
.tobo{
  grid-area: tobo;
}
.yano{
  grid-area: yano;
}
.EzequielSalamon{
  grid-area: EzequielSalamon;
}
#tr{
  color: red;
}
#ta{
  color: yellow;
}
.stats{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a";
}
/*cosas formulario*/
main{
  margin: 1rem;
}

.abuelo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.papa-form {
  margin: 20px;
  border: 2px solid #026d2f;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px black;
  width: 80%;
  width: 600px;
}

.formulario input,
.formulario select,
.formulario textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.custom-button{
  background-color: #026d2f !important;
}

.custom-button:hover {
  background-color: #0d2c1a !important; 
}

.form-label{
  margin-top: 1rem;
}
/*query*/
@media only screen and (max-width:991px)
{footer
  {
    display: grid;
    text-align: center;
    gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "footer-links footer-info"
    "footer-social footer-social"
    "footer-sponsors footer-sponsors"
    "footer-copyright footer-copyright";
  }

  .nav-item {
    padding: 10px;
  }
  .footer-sponsors{
    text-align: center;
  }
  .footer-social{
    margin-top: 2rem;
  }

  .manu {
    display: grid;
    grid-template-areas: 
    "EzequielSalamon"
    "yano"
     "tobo"
    "tin"
     "dan"
    "kevo" 
    "juli"
    "fede"
    "nel"
    "lucas"
    " chu";
    gap: 10px; /* Ajusta el espacio entre las tarjetas */
    margin: 20px; 
  }

  .manu .card {
    width: auto; /* Ancho automático para adaptarse al grid */
  }
  .txtjugador{
    margin-top: 1rem;
    
  }

  }
