@charset "UTF-8";
/*colores destacados usados*/
/*toda la edicion de textos ya sea, a, h1, parrafos, etc.*/
h1, h2 {
  text-align: center;
  font-size: 2rem !important;
  margin: 1.5rem 0 2rem !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.txtjugador {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: rgb(235, 239, 243) !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none !important;
  font-weight: bold !important;
}

.fito {
  display: grid;
  justify-content: space-around;
  text-align: center;
}

.tanu {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

span {
  font-weight: bold;
}

/*gooter enetero*/
footer {
  background-color: rgb(49, 92, 20);
  width: 100%;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  text-align: center;
}
footer .footer-links {
  grid-area: footer-links;
  list-style-type: none !important;
  text-align: left;
}
footer .footer-sponsors {
  grid-area: footer-sponsors;
}
footer .footer-sponsors img {
  width: 90px;
  margin: 1rem 10px 0 0;
}
footer .footer-sponsors img:hover {
  transition: 0.5s;
  transform: translateY(5px);
}

.footer-social {
  text-align: center;
  grid-area: footer-social;
}
.footer-social img {
  width: 55px;
  margin: 10px 15px 1rem 0;
}
.footer-social img:hover {
  transition: 0.5s;
  transform: translateY(5px);
}

.footer-info {
  grid-area: footer-info;
}

ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  grid-area: footer-copyright;
}

/*formulario del formulkario*/
main {
  margin: 1rem;
}
main .abuelo {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .papa-form {
  margin: 20px;
  border: 2px solid #026d2f;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px black;
  width: 600px;
}
main .formulario input,
main .formulario select,
main .formulario textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
main .custom-button {
  background-color: #026d2f !important;
}
main .custom-button:hover {
  background-color: #0d2c1a !important;
}
main .form-label {
  margin-top: 1rem;
}

/*todo lo de cards*/
.manu {
  display: flex;
  justify-content: center;
  margin: 10px 0 2rem;
  gap: 2rem;
}
.manu .card {
  border-radius: 10px;
  margin-top: 1.5rem;
  text-align: center;
  box-shadow: 10px 4px 8px rgb(131, 131, 131);
}

.stats {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a";
}

.chu {
  grid-area: chu;
}

.lucas {
  grid-area: lucas;
}

.nel {
  grid-area: nel;
}

.fede {
  grid-area: fede;
}

.juli {
  grid-area: juli;
}

.kevo {
  grid-area: kevo;
}

.dan {
  grid-area: dan;
}

.tin {
  grid-area: tin;
}

.tobo {
  grid-area: tobo;
}

.yano {
  grid-area: yano;
}

.EzequielSalamon {
  grid-area: EzequielSalamon;
}

#tr {
  color: red;
}

#ta {
  color: yellow;
}

/*el navbar*/
nav {
  background-color: rgb(49, 92, 20);
  height: 100px;
}
nav img {
  margin-top: 2rem;
  width: 100px;
  margin: 1rem 2rem 0 0;
}
nav li {
  font-size: 1.5rem;
  padding: 3rem;
}
nav ul {
  margin: 20px 2rem 20px 0;
}

/*galeria del carousel del index*/
.redondeo, main .abuelo {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(131, 131, 131);
}

.galeria {
  margin-top: 2rem;
}
.galeria .carousel-item {
  text-align: center;
  overflow-wrap: break-word;
}
.galeria .carousel-item p {
  margin-top: 1rem;
}

.img-inde {
  width: 100%;
  height: 70vh;
}

/*todas las tablas que apareces en la pagina, fixture,  tabla posiciones, prox partidos de la index */
.table {
  max-width: 650px;
}

#borde-tabla {
  margin: 50px;
  border: 5px solid rgb(49, 92, 20);
}

.tabla-papa-j {
  display: flex;
  justify-content: center;
  text-align: center;
}

.img-tbl {
  width: 35px;
  border-radius: 20px;
}

.tbl-pos {
  grid-area: tbl-pos;
  height: 200px;
}

.tbl-gol {
  grid-area: tbl-gol;
}

.tbl-as {
  grid-area: tbl-asist;
}

.jefe-tbl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "tbl-pos tbl-pos" "tbl-gol tbl-asist";
}

/*ediciones generales como el body que es mismo en todo y las querys*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url("https://img.freepik.com/fotos-premium/fondo-verde-blanco-degradado-verde_873925-5430.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 991px) {
  footer {
    display: grid;
    text-align: center;
    gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "footer-links footer-info" "footer-social footer-social" "footer-sponsors footer-sponsors" "footer-copyright footer-copyright";
  }
  nav {
    height: auto;
  }
  .img-inde {
    width: 100%;
    height: auto;
  }
  .jefe-tbl {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .tbl-pos, .tbl-gol, .tbl-as, .tabla-papa-j {
    width: 90vw;
  }
  .tbl-gol, .tbl-asist {
    margin-top: -5.5rem;
  }
  .errr {
    display: grid;
  }
  .redondeo, main .abuelo {
    min-width: 80vw;
  }
  .carousel-inner img {
    width: 200px !important;
    height: auto;
  }
  .nav-item {
    padding: 10px;
  }
  .footer-sponsors {
    text-align: center;
  }
  .footer-social {
    margin-top: 2rem;
  }
  .manu {
    display: grid;
    grid-template-areas: "EzequielSalamon" "yano" "tobo" "tin" "dan" "kevo" "juli" "fede" "nel" "lucas" "chu";
    gap: 10px; /* Ajusta el espacio entre las tarjetas */
    margin: 20px;
  }
  .manu .card {
    width: auto; /* Ancho automático para adaptarse al grid */
  }
  .manu .txtjugador {
    margin-top: 1rem;
  }
  /*cambiar que las tablas sean flexbox como las cards */
  .jefe-tbl {
    display: grid;
    grid-template-columns: 1fr; /* Cambia a una columna en lugar de dos */
    grid-template-areas: "tbl-pos" "tbl-gol" "tbl-as";
  }
}

/*# sourceMappingURL=styles.css.map */
