/*colores destacados usados*/
$color-principal: rgb(31, 99, 24);
$color-secundario: rgb(235, 239, 243);
$color-fondo: url('https://img.freepik.com/fotos-premium/fondo-verde-blanco-degradado-verde_873925-5430.jpg') ;