/*galeria del carousel del index*/

.redondeo{
border-radius: 10px;
box-shadow: 4px 4px 4px rgb(131, 131, 131);
}
.galeria {  
margin-top: 2rem;


.carousel-item {
    text-align: center;
    overflow-wrap: break-word;

    p {
    margin-top: 1rem;
    }
}
}