/*el navbar*/
nav {
background-color: $color-principal;

img {
    margin-top: 2rem;
    width: 100px;
    margin: 1rem 2rem 0 0;
}

li {
    font-size: 1.5rem;
    padding: 3rem;
}

ul {
    margin: 20px 2rem 20px 0;
}
}