/*todas las tablas que apareces en la pagina, fixture,  tabla posiciones, prox partidos de la index */


.tabla-papa {
@extend .redondeo;
display: flex;
justify-content: center;
text-align: center;

&:hover{   
    transition: 0.5s ease-out;
    transform: scale(1.1);}
}


.table {
    max-width: 650px;
}

#borde-tabla {
    margin: 50px;
    border: 5px solid $color-principal;
}

.tabla-papa-j{
    display: flex;
    justify-content: center;
    text-align: center;
}

    
.img-tbl{
    width: 35px;
    border-radius: 20px;
}

.tbl-pos{
    grid-area: tbl-pos;
    height: 200px;
}
.tbl-gol {
    grid-area: tbl-gol ;
}
.tbl-as{
    grid-area: tbl-asist;
}
.jefe-tbl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "tbl-pos tbl-pos"
    "tbl-gol tbl-asist";
  
  }